/* Login */

#registro{
	background-color: #023859;
}

#rec_pass{
	color: black;
}


#title-container{
	margin-bottom: 50px;
}

.title {
	height: 120px;
}

.login{
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
	border-color: rgba(238, 255, 168, 0.3);
	background-color: rgba(255, 255, 255, 0.5);
}

.login-title {
	text-align: center;
	margin-bottom: 25px;
}

#form {
	margin-left: auto;
    margin-right: auto;
    width: 90%;
    text-align: center;
}

::-webkit-input-placeholder {
  text-align: center;
}

tr {
  height: 50px;
}

table {
	margin-bottom: 20px;
}

/* Pagina principal */

#principal{
	width: 95%;
	margin: 20px auto;
}


#menu-fijo{
	width: 95%;
	margin: 10px auto;
}


.logo img{
	height:25%;
	width:25%;
}

.control-top{
	float:right;
}

/* hola class="nav navbar-nav menu-options"*/

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	font-family: Helvetica;
}

body{
	background-color:  #FEFEFE;
}

.menu-bar{
	display: none;
}

header{
	width: 100%;
}

header nav{
	background-color: #023859;
	z-index: 1000; /* para que este por encima de los demas elementos */
	/* max-width: 1000px; */
	width: 95%;
	margin: 20px auto;

}

header nav ul{
	list-style: none;
}

header nav ul li{			/* los padres deben ser relative*/
	display: inline-block;
	position: relative;

}

header nav ul li:hover, header nav ul li .control-top ul li:hover{
	background-color: #2ECCFA;

}

header nav ul li a{
	color: white; 
	display: block;
	text-decoration: none;
	padding: 20px;

}

header nav ul li a:hover{
	text-decoration: none;
}

header nav ul li a span{
	margin-right: 10px;
}

header nav ul li .children{ 		/*los hijos deben ser absolute */
	display: none;
	background: #011826;
	position: absolute;
	width: 150%;
	z-index: 1000;
}

header nav ul li .children li{
	display: block;
	list-style: none;
	overflow: hidden;
	border-bottom: 1px solid rgba(255,255,255,.5)
}

header nav ul li .children li a{
	display: block;
}


/* Botones en agregar alumno*/

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 8px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
    cursor: pointer;
}

.button2 {
    background-color: white; 
    color: black; 
    border: 2px solid #023859;
}

.button2:hover {
    background-color: #023859;
    color: white;
}


/* Agregar alumno*/	

#alumnSearch{
	border: 2px ridge black;
	border-radius: 10px;
	border-color: #023859;	
}

#alumnSearch form input{
	margin-top: 20px;
}


.addField {
	text-align: center;
	margin: 5px;
}

.modal-body label{
	text-align: left;
}

#alumnList th{
	width: 50%;
}


/* ############### */

.tabs {
  width: 100%;
  float: none;
  list-style: none;
  position: relative;
  /* margin: 80px 0 0 10px; */
  text-align: left;
}
.tabs li {
  float: left;
  display: block;
}
.tabs input[type="radio"] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
.tabs label {
  display: block;
  padding: 14px 21px;
  border-radius: 10px;
  text-transform: uppercase;
  background: #023859;
  cursor: pointer;
  position: relative;
  top: 4px;
  color: white;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.tabs label:hover {
  background: #2ECCFA;
}
.tabs .tab-content {
  z-index: 2;
  display: none;
  overflow: hidden;
  width: 100%;
  font-size: 17px;
  line-height: 25px;
  padding: 25px;
  position: absolute;
  top: 53px;
  left: 0;
}
.tabs [id^="tab"]:checked + label {
  top: 0;
  padding-top: 17px;
}
.tabs [id^="tab"]:checked ~ [id^="tab-content"] {
  display: block;
}



.tabs p, label{
	color:black;
}
