<!DOCTYPE html>
<html>
<head>
	<title>Agregar curso - Aliadas en Cadena</title>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
 	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
 	<link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="../app/css/aliadas.css">
	<link rel="stylesheet" type="text/css" href="../app/css/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" media="screen" href="../app/css/responsive.css"/> 
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

</head>
<body>
	<header>
		<div id="menu-fijo" class="row">
			<div class="logo col-md-3 col-md-3">
				<div>
					<a href="principal.html">
						<img src="../app/img/logo.jpg" alt="Logo" /> 
					</a>
				</div>
			</div>
			<div class="col-md-5 col-md-5">	</div>
			<div class="col-md-4 col-md-4">
				<div class="control-top">Hola, Usuario</div>
			</div>	
		</div>	
		<div class="menu-bar">
			<a href="#" class="bt-menu">
				<span class="glyphicon glyphicon-menu-hamburger"></span>Menu
			</a>
		</div>
		<nav>
			<ul>
				<li><a href="principal.html"><span class="glyphicon glyphicon-glyphicon glyphicon-home"></span> Inicio </a></li>
				<li><a href="add_course.html"><span class="glyphicon  glyphicon-new-window"></span>
				Agregar Curso </a></li>		
				<li class="submenu">
					<a href="#">
						<span class="glyphicon glyphicon-grain"> Asistencia / Notas
						<span class="caret"></span>
					</a>
					<ul class="children">
						<li><a href="#">Mujeres Emprendedoras</a></li>
						<li><a href="#">Escuela - Taller</a></li>
						<li><a href="#">Mujeres Hacedoras</a></li>
					</ul>
					</span>
				</li>
				<div class="control-top">
					<ul>
						<li><a href="manage_users.html"><span class="glyphicon glyphicon-user"></span> Administrar Usuarios</a></li>					
						<li><a href="../index.html"><span class="glyphicon glyphicon-off"></span> Cerrar Sesión</a></li>					
					</ul>
				</div>
			</ul>
		</nav>
	</header>
	<div id="agregar_curso">
		<div class="row">
			<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
			</div>

			<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
				<div>
					<h2> Crear Curso </h2>
				</div>
				<form action="add_alumn.html">
					<table id="form">
						<tr>
							<td>
								<input type="text" class="form-control" name="text" placeholder="Nombre del Curso" required>
							</td>
						</tr>

						<tr>
							<td>
								<select class="form-control">
									<option value="" disabled selected="selected">Seleccione tipo de curso...</option>
									<option value="emprendedoras">Mujeres Emprendedoras</option>
									<option value="talleres">Escuela Taller</option>
									<option value="hacedoras">Mujeres Hacedoras</option>
								</select> 
							</td>
						</tr>
						<tr>
							<td>
								<button type="submit" class="btn btn-primary"> Agregar Curso </button>
							</td>
						</tr>

					</table>
				</form>

			</div>

			<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
			</div>
		</div>
		
	</div>

	<script src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	<script type="text/javascript" src="../app/js/aliadas.js"></script>
	<script type="text/javascript" src="../app/css/js/bootstrap.min.js"></script>	
</body>
</html>

