<!DOCTYPE html>
<html>
<head>
	<title>Agregar Alumnos - Aliadas en Cadena</title>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
 	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
 	<link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="../app/css/aliadas.css">
	<link rel="stylesheet" type="text/css" href="../app/css/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" media="screen" href="../app/css/responsive.css"/> 
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.js"></script>
	<script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.0.0.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="../example.js"></script>

</head>
<body ng-app="myApp">
	<header>
		<div id="menu-fijo" class="row">
			<div class="logo col-md-3 col-md-3">
				<div>
					<a href="principal.html">
						<img src="../app/img/logo.jpg" alt="Logo" /> 
					</a>
				</div>
			</div>
			<div class="col-md-5 col-md-5">	</div>
			<div class="col-md-4 col-md-4">
				<div class="control-top">Hola, Usuario</div>
			</div>	
		</div>	
		<div class="menu-bar">
			<a href="#" class="bt-menu">
				<span class="glyphicon glyphicon-menu-hamburger"></span>Menu
			</a>
		</div>
		<nav>
			<ul>
				<li><a href="principal.html"><span class="glyphicon glyphicon-glyphicon glyphicon-home"></span> Inicio </a></li>
				<li><a href="add_course.html"><span class="glyphicon  glyphicon-new-window"></span>
				Agregar Curso </a></li>		
				<li class="submenu">
					<a href="#">
						<span class="glyphicon glyphicon-grain"> Asistencia / Notas
						<span class="caret"></span>
					</a>
					<ul class="children">
						<li><a href="#">Mujeres Emprendedoras</a></li>
						<li><a href="#">Escuela - Taller</a></li>
						<li><a href="#">Mujeres Hacedoras</a></li>
					</ul>
					</span>
				</li>
				<div class="control-top">
					<ul>
						<li><a href="#"><span class="glyphicon glyphicon-user"></span> Administrar Usuarios</a></li>					
						<li><a href="../index.html"><span class="glyphicon glyphicon-off"></span> Cerrar Sesión</a></li>					
					</ul>
				</div>
			</ul>
		</nav>
	</header>
	<div id="agregar_alumno">	
		<div class="row">
			<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
			</div>

			<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
				<div>
					<h2> Agregar Alumnos </h2>
				</div>
				<div class="row">
					<div id="alumnSearch" class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
						<div>
							<form>
								<table id="form">
									<tr>
										<td>
											<input type="text" class="form-control" name="search" placeholder="Buscar CI" required>
										</td>
									</tr>
									<tr>
										<td>
			 								<p>ó</p>
										</td>
									</tr>									
								</table>
							</form>
						</div>
						<div id ="addAlumnForm" ng-controller="FormController as formCtrl">
							<div ng-show="formCtrl.myVar">
				           	<form ng-submit="formCtrl.submitForm()">
				                <table id="form">
				                	<tr>
				                        <td>
				                        	<label for="id">CI</label>
				                            <input type="text" class="form-control" name="id" placeholder="Cédula de Identidad" ng-model="formCtrl.form.ci" required>
				                        </td>
				                    </tr>
				                    <tr>
				                        <td>
				                        	<label for="name">Nombre</label>
				                            <input type="text" class="form-control" name="name" placeholder="Nombre" ng-model="formCtrl.form.name" required>
				                        </td>
				                    </tr>
				                    <tr>
				                        <td>
				                            <label for="apellido">Apellido</label>
				                            <input type="text" class="form-control" name="apellido" placeholder="Apellido" ng-model="formCtrl.form.lastName" required>
				                        </td>
				                    </tr>
				                    <tr>
				                        <td>
				                            <label for="address">Dirección</label>
				                            <input type="text" class="form-control" name="address" ng-model="formCtrl.form.address" placeholder="Dirección">
				                        </td>
				                    </tr>
				                    <tr>
				                        <td>
				                            <label for="numTel">Número Telefónico</label>
				                            <input type="text" class="form-control" name="numTel" ng-model="formCtrl.form.phone" placeholder="04XXYYYYYYY">
				                        </td>
				                    </tr>
				                    <tr>
				                        <td>
				                            <label for="Email">Email</label>
				                            <input type="email" class="form-control" name="email" ng-model="formCtrl.form.email" placeholder="correo@dominio.com">
				                        </td>
				                    </tr>
				                </table>
				             	<div class="addField">
				             		<input class="btn btn-success" type="Submit" value="Agregar Alumno" />
				             	</div>	
				             	
				            </form>
				            </div>
				            <div class="addField">
					            <!--
					            <button type="button" class="btn btn-primary" ng-click="formCtrl.toggle()"> 
									Crear Nuevo <span class="glyphicon glyphicon-plus"></span>
								</button>
								-->
								<button type="button" class="btn btn-primary" ng-click="formCtrl.toggle()"> 
									{{formCtrl.toggleText}} <span class="glyphicon glyphicon-plus"></span>
								</button>

							</div>
				        </div>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
					    <div ng-controller="ListController as listCtrl">
					        <h1>Lista de alumnos</h1>
					        <table id ="alumnList" class="table" >
					            <thead>
					                <th>Nombre</th>
					                <th colspan="2">Apellido</th>
					            </thead>
					            <tbody>
					                <tr ng-repeat="brand in listCtrl.brands">
					                    <td ng-bind="brand.name"></td>
					                    <td ng-bind="brand.lastName"></td>
					                    <td class="text-right"><button class="btn glyphicon glyphicon-remove" ng-click="listCtrl.removeBrand($index)"></button></td>
					                </tr>
					            </tbody>
					        </table>
					    </div>
					</div>
				</div>
			</div>
        	<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
			</div>
		</div>
	</div>

<script>
var app = angular.module("myApp", [])
//var app = angular.module("myApp", ['ngAnimate', 'ui.bootstrap'])
.controller("FormController", ["$http", "BrandService", function($http, BrandService){
    var ctrl = this;
    ctrl.form = {
        ci: "",
        name: "",
        lastName: "",
        address: "",
        phone: "",
        email: ""
    };
   
    ctrl.myVar = false;
    ctrl.toggleText = "Abrir Formulario";

    ctrl.toggle = function() {
        ctrl.myVar = !ctrl.myVar;
        ctrl.toggleText = "Cerrar Formulario";

    };

    ctrl.submitForm = function(){
        $http
            //.post("/admin.brands/update", ctrl.form)
            .post("", ctrl.form)
            .then(function(resp){
                console.log(resp);
                
                // Example to update the brand service
                BrandService.add(ctrl.form);
                ctrl.form = {
        			ci: "",
                    name: "",
                    lastName: "",
                    address: "",
			        phone: "",
        			email: ""
                };
                // when successfully submitted
                
            }, function(err){
                console.log(err);
                
                // Not supposed to do this here, but just to Example updating the brand service
                BrandService.add(ctrl.form);
                ctrl.form = {
        			ci: "",
                    name: "",
                    lastName: "",
                    address: "",
			        phone: "",
        			email: ""
                };
                // When got some error
            });
    };
}])
.controller("ListController", ["$http", "BrandService", function($http, BrandService){
    var ctrl = this;
    
    ctrl.brands = BrandService.get();
    ctrl.removeBrand = BrandService.remove;
}])
.factory("BrandService", function(){
    var brandList = [];
    
    return {
        get: function(){
            return brandList;
        },
        add: function(newBrand){
            brandList.push(newBrand);
        },
        remove: function(index){
            brandList.splice(index, 1);
        }
    };
});

angular.bootstrap(document, ['myApp']);

</script>
</body>
</html>

